<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width,height=device-height,initial-scale=1"
    >
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="./favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../New folder/images/apple-icon.png">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="../resources/css/reset.css" media="screen">
    <link rel="stylesheet" href="../resources/css/variables.css" media="screen">
    <link rel="stylesheet" href="../resources/css/screen.css" media="screen">
    <title>Match Information - Bowling Experimenting</title>
  </head>

  <body>
  
    <div id="fauxBody">
      <!-- Header -->
      <header id="top">
        <h1><a href="#">Bowling Experimenting</a></h1>
        <a href="#mainMenu" class="mainMenuOpen" hidden></a>
        <div id="mainMenu">
          <a href="#" class="modalClose" hidden></a>
          <nav>
            <div>
              <a href="#" class="modalClose" hidden></a>
              <ul>
                <li><a href="./match.html">Match Information</a></li>
                <li><a href="#">Team Information</a></li>
                <li><a href="#">Team Roster</a></li>
              </ul>
            </div>
          </nav>
        </div>
      <!-- #top --></header>

      <!-- Main -->
      <main>
        <section class="pageHeader">
        <!-- Page Title -->
        <h3>Match Information</h3>
        <!-- Search Box -->
        <div>
          <label>Search Box<input type="text" name="search"/></label>
          this is
        </div>

        </section>
        <section class="pageData">
        <!-- Index --><!-- Detail -->

        </section>
      </main>
      <!-- Status Flash -->
      <footer></footer>
    <!-- #fauxBody --></div>

    <!-- Modal -->
  </body>